@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  @apply bg-[#ffffff] text-[#000000] antialiased;
}

/* Hide Scrollbars globally */
@layer base {
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
